.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*----------------------------------------------------------------------------------*/
._container {
  max-width: 1376px;
  margin: 0px auto;
  padding: 0 20px;
}
._smaller-banners__container {
  max-width: 2000px;
  margin: 0px auto;
  padding: 0 0;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/*-------HEADER---------------------------------------------------------------------------*/
.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 88px;
  z-index: 9999;
}
.header__container {
  display: flex;
  min-height: 88px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  box-sizing: content-box;
}
.header__search-form {
  margin-left: 10px;
  display: flex;
  align-items: center;
  max-width: 372px;
  height: 56px;
}
.search-form__loup {
  padding: 6px;
}
.search-form__input {
  width: 100%;
}
.header__menu {
  box-sizing: content-box;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__item {
  margin: 0px 26px;
  line-height: 25px;
  font-weight: bold;
}
@media (max-width: 580px) {
  .menu__item {
    margin: 0px 10px;
    font-weight: 500;
  }
  .icon__item {
    margin-left: 0;
  }
}
.menu__item:not(:first-child) {
  opacity: 0.4;
}
.menu__item:nth-child(3) {
  opacity: 0.4;
  white-space: nowrap;
}
.menu__link {
  color: black;
}
.header__icons {
  box-sizing: content-box;
}
.icons__list {
  display: flex;
  justify-content: end;
  align-items: center;
}
.icon__item {
  margin-left: 52px;
  display: flex;
  margin-top: 5px;
}
@media (max-width: 680px) {
  .icons__list {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.icon {
  min-width: 25px;
}
/*-------MAIN---------------------------------------------------------------------------*/
.main {
  flex: 1 1 auto;
}
/*-------IPHONE-BANNER---------------------------------------------------------------------------*/
.main__iphone-banner {
  position: relative;
  width: 100%;
  background: linear-gradient(90.7deg, #211c24 0.64%, #211c24 101%);
}
.iphone-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1035px) {
  .iphone-banner {
    justify-content: center;
  }
}
.iphone-banner__text {
  * {
    color: #ffffff;
  }
  display: flex;
  flex-direction: column;
  max-width: 714px;
  gap: 24px;
  padding: 10px;
}
.iphone-banner__first-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  opacity: 0.4;
}
.iphone-banner__second-title {
  font-style: normal;
  font-weight: 200;
  font-size: 96px;
  letter-spacing: -0.01em;
}
.iphone-banner__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #919191;
}
.iphone-banner__btn {
  padding: 8px 56px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 6px;
  max-width: 184px;
}
.iphone-banner__img {
  max-width: 406px;
}
/*-------SMALLER-BANNERS---------------------------------------------------------------------------*/
.main__smaller-banners {
  position: relative;
  width: 100%;
}
.smaller-banners {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 930px) {
  .smaller-banners {
    flex-direction: column;
  }
}
.smaller-banner__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
}
.left-side__top-banner {
  align-items: center;
  display: flex;
  max-width: 100%;
  max-height: 328px;
  justify-content: space-between;
}
.top-banner__img {
  position: static;
  max-height: 328px;
  max-width: 343px;
  img {
    width: 100%;
  }
}
.top-banner__text {
  display: flex;
  flex-direction: column;
  max-width: 338px;
  max-height: 300px;
  padding-right: 5px;
}
@media (max-width: 930px) {
  .top-banner__text {
    margin: 0 auto;
  }
}
.top-banner__title {
  color: black;
  line-height: 40px;
  font-weight: bolder;
  font-size: 40px;
}
.top-banner__paragrap {
  color: black;
  line-height: 24px;
  font-weight: normal;
  font-size: 15px;
  opacity: 0.4;
}
@media (max-width: 375px) {
  .top-banner__title {
    font-size: 30px;
  }
  .top-banner__paragrap {
    font-size: 10px;
  }
}
.left-side__bottom-banners {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bottom-banners__small-banner {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.bottom-banners__small-banner:last-child {
  background-color: #353535;
}
.small-banner__img {
  max-width: 272px;
  img {
    width: 100%;
  }
}
.small-banner__text {
  max-width: 160px;
  margin-left: 30px;
}
.small-banner__title {
  font-size: 40px;
  color: #000000;
}
.small-banner__title--last {
  color: white;
}
.small-banner__paragraph {
  color: #909090;
  line-height: 24px;
  font-weight: normal;
  font-size: 15px;
}
.smaller-banner__right-side {
  display: flex;
  align-items: center;
}
.right-side__big-banner {
  display: flex;
  align-items: center;
  background: #ededed;
  height: 100%;
  width: 100%;
  padding-top: 15px;
}
@media (max-width: 930px) {
  .smaller-banner__right-side {
    justify-content: space-between;
  }
  .right-side__big-banner {
    width: 100%;
    justify-content: space-between;
  }
}
.big-banner__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  max-width: 360px;
}
@media (max-width: 930px) {
  .big-banner__text {
    margin: 0 auto;
  }
}
.big-banner__title {
  color: black;
  line-height: 45px;
  font-weight: 300;
  font-size: 40px;
  span {
    font-weight: 500;
  }
}
.big-banner__paragraph {
  color: #909090;
  line-height: 24px;
  font-weight: normal;
  font-size: 15px;
}
.big-banner__btn {
  padding: 8px 56px;
  text-align: center;
  border-radius: 6px;
  max-width: 184px;
  border: 1px solid #000000;
}
.big-banner__img {
  max-width: 292px;
  img {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .top-banner__title {
    font-size: 35px;
  }
  .top-banner__paragrap {
    font-size: 12px;
  }
  .right-banner__title {
    font-size: 30px;
  }
  .right-banner__paragraph {
    font-size: 12px;
  }
  .small-banner__title {
    font-size: 30px;
  }
  .small-banner__paragraph {
    font-size: 12px;
  }
  .big-banner__title {
    font-size: 35px;
  }
  .big-banner__paragraph {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .top-banner__title {
    font-size: 30px;
  }
  .top-banner__paragrap {
    font-size: 10px;
  }
  .right-banner__title {
    font-size: 28px;
  }
  .right-banner__paragraph {
    font-size: 10px;
  }
  .small-banner__title {
    font-size: 28px;
  }
  .small-banner__paragraph {
    font-size: 10px;
  }
  .big-banner__title {
    font-size: 33px;
  }
  .big-banner__paragraph {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  .top-banner__title {
    font-size: 22px;
  }
  .top-banner__paragrap {
    font-size: 8px;
    line-height: 15px;
  }
  .right-banner__title {
    font-size: 20px;
  }
  .right-banner__paragraph {
    font-size: 8px;
    line-height: 15px;
  }
  .small-banner__title {
    font-size: 20px;
  }
  .small-banner__paragraph {
    font-size: 8px;
    line-height: 15px;
  }
  .big-banner__title {
    font-size: 25px;
  }
  .big-banner__paragraph {
    font-size: 8px;
    line-height: 15px;
  }
  .big-banner__text {
    gap: 10px;
  }
  .big-banner__btn {
    padding: 4px 28px;
    text-align: center;
    border-radius: 6px;
    max-width: calc(184px / 2);
    font-size: 10px;
  }
}
/*-------PRODUCT-CATEGORY---------------------------------------------------------------------------*/
.main__product-category {
  padding: 100px 30px;
}
.product-category {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}
.product-category__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-category__title {
  font-weight: 500;
  font-size: 20px;
}
.product-category__pagination {
  display: flex;
  max-width: 80px;
  gap: 16px;
}
@media (max-width: 360px) {
  .product-category__pagination {
    gap: 0px;
  }
  .product-category__title {
    font-weight: 500;
    font-size: 17px;
  }
}
.product-category__arrow:first-child {
  padding: 4px 10px 4px 0px;
}
.product-category__arrow:last-child {
  padding: 4px 0px 4px 10px;
}
.product-category__bottom {
  width: 100%;
}
.product-category__icons-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 700px) {
  .product-category__icons-tab {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content;
    justify-content: center;
    gap: 20px;
  }
}
.product-category__icon-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
}
.product-category__icon-description {
  text-wrap: nowrap;
}
/*-------FOOTER---------------------------------------------------------------------------*/
